<button (click)="animationStart()"></button>
<div class="panel-4">
  <div class="projects">
    <div class="project" *ngFor="let project of projects">

      <div class="holder fadeIn" [style.backgroundImage]="'url('+ project.thumbnail +')'">
        <div class="overlay">
          <div class="info">
            <div class="category">{{project.category}}</div>
            <div class="project-name">{{project.name}}</div>
          </div>
        </div>

        <div class="bg"></div>
      </div>
      <div class="full" style="background-image: url(../assets/img/portfolio/shared/blur_bg.jpg)">
        <div class="animation_container">
          <div class="mobile_header">
            <h3>{{project.name}}</h3>
          </div>
          <div class="screenshots_container">
            <div class="screenshots">
              <div class="item">
                <img src={{project.screenshot}} alt="">
                <!-- <iframe class="lg-show" src="ProSenseBanners_728x90/ProSenseBanners_728x90.html" style="background-image:url(../assets/img/ProSense.png);width:728px;height:90px;margin-top:50px;"></iframe>
                <iframe class="lg-hide" src="ProSenseBanners_300x250/ProSenseBanners_300x250.html" style="background-image:url(../assets/img/ProSense.png);width:300px;height:250px;margin-top:50px;"></iframe> -->
              </div>
            </div>
          </div>
          <div class="screenshots_mobile">
            <img src={{project.mobileScreenshot}} alt="">
          </div>
          <div class="info">
            <div class="holder">
              <h3>{{project.name}}</h3>
              <div class="block">
                <h4>Designers</h4>
                <p> {{project.designers[0].name}}: {{project.designers[0].description}}
                </p>
                <p>
                  {{project.designers[1].name}}: {{project.designers[1].description}}
                </p>
              </div>
              <div class="buttons">
                <a href="#" class="close">
                  Close
                </a>
              </div>
            </div>

          </div>
          <div class="header">
            <a href="#" class="close">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                <g data-name="close">
                  <path d="M36.09 13.91L13.91 36.09m0-22.18l22.18 22.18" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2"
                  />
                  <circle cx="25" cy="25" r="25" fill="#fff" />
                  <path d="M25 2A23 23 0 1 1 2 25 23 23 0 0 1 25 2m0-2a25 25 0 1 0 25 25A25 25 0 0 0 25 0z" fill="#fff" />
                </g>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <app-add-project></app-add-project>
  </div>
</div>
<div class="fader">
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
</div>