<div class="panel-4">
  <div class="projects">
    <div class="project" *ngFor="let project of projects">

      <div class="holder fadeIn" [style.backgroundImage]="'url('+ project.thumbnail +')'">
        <div class="overlay">
          <div class="info">
            <div class="category">{{project.category}}</div>
            <div class="project-name">{{project.name}}</div>
          </div>
        </div>

        <div class="bg"></div>
      </div>
      <div class="full" style="background-image: url(../assets/img/portfolio/shared/blur_bg.jpg)">
        <div class="animation_container">
          <div class="mobile_header">
            <h3>{{project.name}}</h3>
          </div>
          <div class="screenshots_container">
            <div class="screenshots">
              <div class="item">
                <img src={{project.screenshot}} alt="">
                <!-- <iframe class="lg-show" src="ProSenseBanners_728x90/ProSenseBanners_728x90.html" style="background-image:url(../assets/img/ProSense.png);width:728px;height:90px;margin-top:50px;"></iframe>
                <iframe class="lg-hide" src="ProSenseBanners_300x250/ProSenseBanners_300x250.html" style="background-image:url(../assets/img/ProSense.png);width:300px;height:250px;margin-top:50px;"></iframe> -->
              </div>
            </div>
          </div>
          <div class="screenshots_mobile">
            <img src={{project.mobileScreenshot}} alt="">
          </div>
          <div class="info">
            <div class="holder">
              <h3>{{project.name}}</h3>
              <div class="block">
                <h4>Designers</h4>
                <p> {{project.designers[0].name}}: {{project.designers[0].description}}
                </p>
                <p>
                  {{project.designers[1].name}}: {{project.designers[1].description}}
                </p>
              </div>
              <div class="buttons">
                <a href="#" class="close">
                  Close
                </a>
              </div>
            </div>

          </div>
          <div class="header">
            <a href="#" class="close">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                <g data-name="close">
                  <path d="M36.09 13.91L13.91 36.09m0-22.18l22.18 22.18" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2"
                  />
                  <circle cx="25" cy="25" r="25" fill="#fff" />
                  <path d="M25 2A23 23 0 1 1 2 25 23 23 0 0 1 25 2m0-2a25 25 0 1 0 25 25A25 25 0 0 0 25 0z" fill="#fff" />
                </g>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <app-add-project></app-add-project>
  </div>
</div>


<!-- FOR ADMIN ONLY -->
<div class="add_project_container">
  <div class="add_project">
    ADD PROJECT
    <br>
    <input class="inpt category" type="text" placeholder="Category" [(ngModel)]="project.category">
    <input class="inpt" type="text" placeholder="Project Name" [(ngModel)]="project.name">
    <br>
    <input class="inpt body" type="text" placeholder="Body" [(ngModel)]="project.body">
    <br>
    <span class="uploadFont" style="margin-left: -25px;">
      <input class="uploadInput" type="file" id="file1" name="photo" ng2FileSelect [uploader]="uploader" />
      Thumbnail
    </span>
    <!-- <label for ="file1">Thumbnail</label> -->
    <br>
    <span class="uploadFont" style="margin-left: -18px;">
      <input class="uploadInput" type="file" id="file2" name="photo" ng2FileSelect [uploader]="uploader" />
      ScreenShot
    </span>
    <!-- <label for ="file2">Screenshot</label> -->
    <br>
    <span class="uploadFont" style="margin-left: 18px;">
      <input class="uploadInput" type="file" id="file3" name="photo" ng2FileSelect [uploader]="uploader" />
      Mobile Screenshot
    </span>
    <!-- <label for ="file3">Mobile Screenshot</label> -->
    <br>
    <!-- <input class="inpt" type="text" placeholder="ScreenShot" [(ngModel)]="project.screenshot"> -->
    <!-- <input class="inpt" type="text" placeholder="Mobile ScreenShot" [(ngModel)]="project.mobileScreenshot"> -->
    <input class="inpt designer" type="text" placeholder="Designer 1" [(ngModel)]="project.designers[0].name">
    <input class="inpt" type="text" placeholder="Work Description" [(ngModel)]="project.designers[0].description">
    <br>
    <input class="inpt designer" type="text" placeholder="Designer 2" [(ngModel)]="project.designers[1].name">
    <input class="inpt" type="text" placeholder="Work Description" [(ngModel)]="project.designers[1].description">
    <br>
    <button type="button" *ngIf="!submitShow" class="btn btn-success btn-s" (click)="uploader.uploadAll(); submitShowToggle()"
      [disabled]="!uploader.getNotUploadedItems().length">
      Upload
    </button>
    <button class="submit btn" *ngIf="submitShow" (click)="submitProject(); ">Submit</button>
  </div>
</div>

<div class="fader">
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
</div>