<div class="add_project">
  Add Project Test Form
  <br>
  <input class="inpt" type="text" placeholder="Category" [(ngModel)]="project.category"> <br>
  <input class="inpt" type="text" placeholder="Project Name" [(ngModel)]="project.name"> <br>
  <input class="inpt" type="text" placeholder="Thumbnail" [(ngModel)]="project.thumbnail"> <br>
  <input class="inpt" type="text" placeholder="ScreenShot" [(ngModel)]="project.screenshot"> <br>
  <input class="inpt" type="text" placeholder="Mobile ScreenShot" [(ngModel)]="project.mobileScreenshot"> <br>
  <input class="inpt" type="text" placeholder="Designer 1" [(ngModel)]="project.designers[0].name">
  <input class="inpt" type="text" placeholder="Work Description" [(ngModel)]="project.designers[0].description"> <br>
  <input class="inpt" type="text" placeholder="Designer 2" [(ngModel)]="project.designers[1].name">
  <input class="inpt" type="text" placeholder="Work Description" [(ngModel)]="project.designers[1].description"> <br>
  <button class="submit btn" (click)="submitProject()">Submit</button>
  <button class="cancel btn">Cancel</button>
  <button class="btn">TEST</button>
</div>
