.add_project {
  width: 400px;
  height: 400px;
  // background-color: lightseagreen;
}

.inpt {
  height: 30px;
  width: 70%;
  margin-top: 5px;
  margin-left: 40px;
}

.btn {
  height: 30px;
  width: 117px;
  margin-top: 10px;
  margin-left: 40px;
}

.submit{
  
}

.cancel {

}